.lesson-box:hover{
    background-color: #3177df;
    color: white;
}
.lesson-box{
    transition: all 0.3s;
    cursor: pointer;
    }
.lesson-box button{
    border: 1px solid;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.2s;
}
.lesson-box button:hover{
    scale: 1.1;
}